* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-light: #9ebc47;
  --primary-mid: #93b432;
  --primary-dark: #84a22d;
  --secondary-light: #fcca5e;
  --secondary-mid: #fcc44c;
  --secondary-dark: #e3b044;
  --tertiary-light: #ffffff;
  --tertiary-mid: #e6e6e6;
}

body,
input,
button,
textarea {
  font: 400 16px "Poppins", sans-serif;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.strip {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
  background: var(--primary-light);
}

.logo {
  display: flex;
  margin-top: 2rem;
}

.logo span {
  color: var(--secondary-mid);
  font-size: 2rem;
}

.logo h1 {
  color: var(--tertiary-light);
  font-weight: 400;
  font-size: 2rem;
}

.cards {
  display: flex;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  justify-content: space-between;
  width: 40%;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  background: var(--tertiary-light);
  align-items: center;
  justify-content: center;
}

.card span {
  font-size: 1rem;
}

.first-card p {
  color: var(--primary-mid);
}

.second-card p {
  color: var(--secondary-mid);
}

.last-card {
  background: var(--primary-light);
  color: var(--tertiary-light);
}

.finances {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 6rem;
  gap: 1rem;
}

.finances div {
  width: 100%;
  height: 50px;
  background: var(--tertiary-mid);
  border-radius: 0.75rem;
}

.smallLogo {
  display: flex;
  font-size: 1rem;
  margin-top: 2rem;
}

.smallLogo span {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
}

.smallLogo h1 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
}